#recordMain{
    background-color: #fff;
    color: gray;
}
#recordMain>div>#record{
    position: relative;
    top:20px;
}
/*重置样式*/
#recordMain a {
    color: gray;
}
#recordMain .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: black;
    background-color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
}
#recordMain .tab-content>.active {
    padding-top: 10px;
    padding-left: 3%;
}
#recordMain .table {
    margin-bottom: 0px;
}
#recordMain .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px;
   /* padding: 0px;*/
}
#recordMain .table>thead>tr>th {
    border-bottom: 0px;
}
/*支出*/
#recordMain .classifyChild>div{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    margin-right: 4%;
    color: black;
    padding-top: 5px;
    cursor: pointer;
}
#recordMain .classifyChild>div:focus{
    color: white;!important;
}
#recordMain .classifyChild>h5{
    float: left;
    margin-right: 4%;
}
#recordMain #expend>.btn-warning,
#recordMain #income>.btn-warning{
    width: 330px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 4%;
}
/*计算器*/
/*#recordMain .calculatorDiv{
    width: 100%;
    border-radius: 5px;
   !* background-color: darkcyan;*!
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
li {
    list-style: none;
}
.calculatorDiv>ul>li {
    width: 89px;
    height: 50px;
    line-height: 50px;
    float: left;
    background-color: #28a4c9;
    text-align: center;
    color: navajowhite;
    font-size: x-large;
    cursor: pointer;
    margin-right: 1%;
    margin-bottom: 3px;
    border-radius: 5px;
}
.calculatorDiv>ul>li:first-child,
.calculatorDiv>ul>li:nth-child(5),
.calculatorDiv>ul>li:nth-child(9),
.calculatorDiv>ul>li:nth-child(13){
    margin-left: -12%;
}*/
