
body.framework7-root{
    background-color:lightyellow;
}

/*重置样式*/
/*头部*/
.content-block.top {
   margin-top: 0px;
   background-color: lightyellow;
}
/*用户名*/
.chip.user {
    margin-left: 40%;
    margin-bottom: 0px;
    margin-top: 10px;
    height: 40px;
    background-color: lightblue;
}
/*用户名的头像*/
.chip.user>.chip-media{
    width: 30px;
    height: 30px;
}
/*用户名的名称*/
.chip-media+.chip-label {
    width: 40px;
    text-align: center;
}
/*收入/支出*/
.list-block.title{
    margin-top: 10px;
    background-color: lightyellow;
}
.list-block.title ul {
     position:static ;
     margin-bottom: -30px;
    background-color: lightyellow;
}
.item-media .f7-icons, .item-media .framework7-icons:first-child {
    font-size: 20px;
}


/*预览*/
.page-content.skan {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
}
.content-block-title.skan{
    padding-left: 2%;
    background-color: lightgray;
    margin: 0px;
    line-height: 30px;
}
.list-block.skan{
    margin: 0px;
}

/*记账*/
.page-content.record {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
}
#recordLoad{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
    border: 1px solid lightyellow;
    border-radius: 15px;
}




/*底部按钮*/
.toolbar.bottom {
    position: fixed;
    background-color: lightyellow;
}
/*统计*/
.toolbar.bottom .f7-icons.statistics{
    color: #f0ad4e;
}
.toolbar.bottom .tabbar-label.statistics{
    color: forestgreen;
    font-weight: bolder;
}
/*预览*/
.toolbar.bottom .f7-icons.skan{
    color: darkcyan;
}
.toolbar.bottom .tabbar-label.skan{
    color: hotpink;
    font-weight: bolder;
}
/*记账*/
.toolbar.bottom .f7-icons.record{
    color:lime;
}
.toolbar.bottom .tabbar-label.record{
    color: peru;
    font-weight: bolder;
}
/*其他*/
.toolbar.bottom .f7-icons.other{
    color: paleturquoise;
}
.toolbar.bottom .tabbar-label.other{
    color: darkmagenta;
    font-weight: bolder;
}
